html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  box-sizing: border-box;
  // min-width: 1350px;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}
#app {
  height: 100%;
  width: 100%;
  // background-color: $mainBg;
  // color: $mainColor;
}

@import "./naive/index.scss";